<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-4">About Website</h1>

    <div class="card p-4">

        <h3>Korean Thriller Movies</h3>

        <p>
            This website is dedicated to three popular Korean thriller movies:
            Oldboy, The Gangster, The Cop, The Devil and The Call.
        </p>

        <p>
            Users can register, log in and manage movie information.
            Authorized users can add, edit and delete movies using CRUD operations.
        </p>

        <p>
            The project was created using Flask, Flask-SQLAlchemy,
            Flask-Login, Flask-WTF, Bootstrap, HTML and CSS.
        </p>

    </div>

</div>

{% endblock %}
</head>
<body>

</body>
</html>